<%- include('../partials/header') %>

<a href="/flights">Return to Manifest</a>
<form action="/flights/<%= flight %>/tickets" method="POST">
    

    <h2>Select your Preferred Seat</h2>
<label>Select Seat</label>
    <input name="seat" required pattern="[A-F][1-9]\d?">
    <br>
    <label>Pricing:
        <input type="number" name="price" min= 0>
      </label><br>
      <input type="submit" value="Purchase Ticket">
    </form>


<%- include('../partials/footer') %>