<!DOCTYPE html>
<html>
  <head>
    <title>Flights</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="homeclass">
    <h1 id="home">Flights</h1>
    <p>Welcome to our Flights Page</p>
    <a href="/flights/">Flight Manifest</a>
    </div>
  </body>
</html>
