body {
  padding: 5px 5px -30px 5px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url(https://i.imgur.com/Zpx6rS1.jpg?2);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: black
}
.box {
  text-align: center;
  margin: 10% 40% -15% 0%;
  border-radius: 5%;
  border: 4px solid 46989B;
  background: linear-gradient(to right, #AAD1F5 30%,rgb(196, 195, 190, .7), transparent);
  width: 100%;
  box-shadow:-10px 10px 15px #276DC2;
}
.boxtwo {
  text-align: center;
  border-radius: 5%;
  border: 4px solid 46989B;
  background: linear-gradient(to right, #AAD1F5 30%,rgb(196, 195, 190, .7), transparent);
  width: 75%;
  box-shadow:-10px 10px 15px #276DC2;
  margin: 5% 15%;
}
.boxticket, .homebox, .boxflight{
  text-align: center;
  margin: 25%;
  border-radius: 5%;
  border: 4px solid 46989B;
  background: linear-gradient(to right, #AAD1F5 30%,rgb(196, 195, 190, .7), transparent);
  width: 50%;
  box-shadow:-10px 10px 15px #276DC2;
}
nav {
  height: 75px;
  margin: -8px -50px;
  padding: 0;
  background-color: rgba(24, 26, 29, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
a{
  color: rgb(29, 15, 233);
}
nav a {
  padding: 25px 50px;
  color: white;
}
nav a:hover {
background-color: black;
}
nav a.active {
  color: rgb(11, 240, 182);
}
th {
  padding: 35px;
  font-size: 16px;
  
}
td {
  text-align: center;
  font-size: 13px;
}



