<%- include('../partials/header') %>

<body>
  
<div class="boxflight">
    <h2>Enter New Flight</h2>
<form action="/flights" method="POST">
  <label>Airline:
    <select name="airline">
        <option value="American">American</option>
        <option value="Delta">Delta</option>
        <option value="Southwest">Southwest</option>
        <option value="United">United</option>
      </select>
  </label><br>
  <label>Airport:
    <select name="airport">
        <option value="ATL">ATL</option>
        <option value="DFW">DWF</option>
        <option value="DEN">DEN</option>
        <option value="LAX">LAX</option>
        <option value="SAN">SAN</option>
      </select>
  </label><br>
  <label>Flight No.:
    <input type="text" name="flightNo" maxlength="4">
  </label><br>
  <label for="meeting-time">Departure Date:
    <input type="datetime-local" name="departure" value="<%= departsDate %>">
  </label>
  <br>
  <input type="submit" value="Add Flight">
</form>
</div>
</body>
</main>
</html>